<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :full_name, "Nome do Paciente:", style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :email_address, "Endereço de email:", style: "display: block" %>
    <%= form.text_field :email_address %>
  </div>

  <div>
    <%= form.label :cpf, "CPF:", style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :phone_number, "Número de Telefone:", style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.submit "Salvar", class: 'btn btn-primary' %>
    <%= link_to "Voltar para a página inicial", root_path, class: "btn btn-primary" %>
  </div>
<% end %>
