<div id="<%= dom_id patient %>">
  <p>
    <strong>Full name:</strong>
    <%= patient.full_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= patient.email_address %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

</div>
