<div id="<%= dom_id patient %>">
  <p>
    <strong>Nome Completo:</strong>
    <%= patient.full_name %>
  </p>

  <p>
    <strong>Endereço de email:</strong>
    <%= patient.email_address %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Número de Telefone:</strong>
    <%= patient.phone_number %>
  </p>

</div>
