<html>
<body>
<head>
  <title>Consultório Odontológico Sorria Bem - Detalhes do Dentista</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
      }

      header {
          background-color: #007bff;
          color: #fff;
          text-align: center;
          padding: 1rem 0;
      }

      .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 2rem;
      }

      h1 {
          font-size: 2.5rem;
          margin-bottom: 2rem;
      }

      .btn {
          display: inline-block;
          padding: 1rem 2rem;
          background-color: #007bff;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          font-size: 1.2rem;
          transition: background-color 0.3s ease;
          margin: 0.2rem  ;
      }

      .btn-primary {
          background-color: #007bff;
      }

      .btn-primary:hover {
          background-color: #0056b3;
      }

      #dentists {
          margin-top: 2rem;
      }

      .patient-card {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 1rem;
          margin-bottom: 1rem;
      }

      .patient-name {
          font-size: 1.5rem;
          font-weight: bold;
      }

      .patient-specialty {
          font-size: 1.2rem;
          color: #555;
      }

      /* Estilos para a página de detalhes do dentista */
      .patient-details {
          margin-top: 2rem;
      }

      .patient-details h2 {
          font-size: 1.8rem;
          margin-bottom: 1rem;
      }

      .patient-details p {
          font-size: 1.2rem;
          color: #555;
      }
  </style>
</head>
<header>
  <h1>Consultório Odontológico Sorria Bem - Detalhes do Paciente</h1>
</header>

<div class="container">
  <div class="patient-details">
    <h2><%= @patient.full_name %></h2>
    <p>CPF: <%= @patient.cpf %></p>
    <p>Email: <%= @patient.email_address %></p>
    <p>Phone Number: <%= @patient.phone_number %></p>
  </div>

  <div>
    <%= link_to "Editar Paciente", edit_patient_path(@patient), class: "btn btn-primary" %>
    <%= button_to "Remover Paciente", @patient, method: :delete, data: { confirm: "Tem certeza que deseja remover este paciente?" }, class: "btn btn-danger" %>
    <%= link_to "Voltar para a lista de pacientes", patients_path, class: "btn btn-primary" %>
  </div>
</div>
</body>
</html>