<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label :dentist_id %>
    <%= form.collection_select :dentist_id, Dentist.all, :id, :nome, prompt: "Selecione um dentista" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
