<!DOCTYPE html>
<html>
<head>
  <title>Consultório Odontológico Sorria Bem - Agendar Consulta</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
      }

      header {
          background-color: #007bff;
          color: #fff;
          text-align: center;
          padding: 1rem 0;
      }

      .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 2rem;
      }

      h1 {
          font-size: 2.5rem;
          margin-bottom: 2rem;
      }

      .btn {
          display: inline-block;
          padding: 1rem 2rem;
          background-color: #007bff;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          font-size: 1.2rem;
          transition: background-color 0.3s ease;
          cursor: pointer;
      }

      .btn-primary {
          background-color: #007bff;
      }

      .btn-primary:hover {
          background-color: #0056b3;
      }

      #appointment-form {
          margin-top: 2rem;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 2rem;
      }

      #appointment-form h2 {
          font-size: 1.8rem;
          margin-bottom: 2rem;
      }

      #appointment-form label {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
      }

      #appointment-form input[type="date"],
      #appointment-form input[type="time"],
      #appointment-form select {
          padding: 0.5rem;
          font-size: 1.2rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 100%;
          margin-bottom: 1rem;
      }

      #appointment-form input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          padding: 1rem 2rem;
          font-size: 1.2rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      #appointment-form input[type="submit"]:hover {
          background-color: #0056b3;
      }

      #appointment-form p.error-message {
          color: red;
      }

      .success-message {
          background-color: #4caf50;
          color: white;
          text-align: center;
          padding: 1rem;
          margin-bottom: 1rem;
      }

  </style>
</head>
<body>
<header>
  <h1>Consultório Odontológico Sorria Bem - Agendar Consulta</h1>
</header>

<div class="container">
  <div id="appointment-form">
    <h2>Preencha os dados para agendar a consulta</h2>
    <% if @appointment.persisted? %>
      <div class="success-message" style="color: transparent;">
        Appointment was successfully created.
      </div>
    <% end %>
    <%= form_with(model: @appointment) do |form| %>
      <% if @appointment.errors.any? %>
        <p class="error-message"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</p>

        <ul>
          <% @appointment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= form.label :date, "Data da Consulta" %>
        <%= form.date_field :date %>
      </div>

      <div>
        <%= form.label :time , "Horário da Consulta" %>
        <%= form.time_field :time %>
      </div>

      <div>
        <%= form.label :dentist_id, "Nome do Dentista" %>
        <%= form.collection_select :dentist_id, Dentist.all, :id, :nome, prompt: "Selecione o dentista" %>
      </div>

      <div>
        <%= form.label :patient_id, "Nome do Paciente" %>
        <%= form.collection_select :patient_id, Patient.all, :id, :full_name, prompt: "Selecione um paciente" %>
      </div>

      <div>
        <%= form.submit "Agendar Consulta" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to "Voltar para a página inicial", root_path, class: "btn btn-primary" %>
  </div>
</div>
</body>
</html>
