<%= form_with(model: dentist) do |form| %>
  <% if dentist.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(dentist.errors.count, "error") %> prohibited this dentist from being saved:</h2>
      <ul>
        <% dentist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf, "CPF" %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade %>
  </div>

  <div class="field">
    <%= form.label :cro, "CRO" %>
    <%= form.text_field :cro %>
  </div>

  <div class="field">
    <%= form.label :inicio_horario_atendimento, "Início Horário de Atendimento" %>
    <%= form.time_field :inicio_horario_atendimento %>
  </div>

  <div class="field">
    <%= form.label :termino_horario_atendimento, "Término Horário de Atendimento" %>
    <%= form.time_field :termino_horario_atendimento %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Voltar para a página inicial", root_path, class: "btn btn-primary" %>
  </div>
<% end %>
